Repository scoheb/declarative-ci: changes, and which Jenkins stages are due for each by the changed paths.
All: rpmbuild, ostree

rpmbuild:
              steps {
                  script {
                      echo "rpmbuild!"
                  }
              }
          

ostree:
              steps {
                  script {
                      echo "ostree!"
  		    sleep 60
                  }
              }
          

zzz
  Jenkinsfile
  config/Dockerfiles/ostree/Dockerfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild, ostree

zzz1
  Jenkinsfile
  config/Dockerfiles/ostree/Dockerfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild, ostree

zzz2
  Jenkinsfile
Due: none

aaaa
  Jenkinsfile
Due: none

bbb
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild

bbb
  Jenkinsfile
Due: none

bbb
  Jenkinsfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild

Declarative pipeline for stage
  Jenkinsfile
Due: none

add echo
  Jenkinsfile
Due: none

add fnction
  Jenkinsfile
Due: none

add file
  Jenkinsfile
Due: none

get changelog
  Jenkinsfile
Due: none

change rpmbuild and 111
  Jenkinsfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild

and new line to files
  Jenkinsfile
Due: none

sha1 now
  Jenkinsfile
Due: none

2-PR: 1
  Jenkinsfile
Due: none

add env call
  Jenkinsfile
Due: none

add master echo of change_ID
  Jenkinsfile
Due: none

non-parallel and change to both JF and DF
  Jenkinsfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild

update buildmessage and change echo of PR number
  Jenkinsfile
Due: none

change echo and add ostree change
  Jenkinsfile
  config/Dockerfiles/ostree/Dockerfile
Due: ostree

remove canned message
  Jenkinsfile
Due: none

mbp-3: all 3
  Jenkinsfile
  config/Dockerfiles/ostree/Dockerfile
  config/Dockerfiles/rpmbuild/Dockerfile
Due: rpmbuild, ostree

add canned
  Jenkinsfile
Due: none

re-checkout
  Jenkinsfile
Due: none

re-checkout2
  Jenkinsfile
Due: none

add changelog extension
  Jenkinsfile
Due: none

Path conditions:
  rpmbuild: any of: config/Dockerfiles/rpmbuild/**
  ostree: any of: config/Dockerfiles/ostree/**
